<section class="services-ahj animated fadeIn">
    <div class="services-ahj__element">
        <div class="services-ahj__element-content services-ahj__element-content--right-slice">
            <img src="../../../assets/img/ninera.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa Au Pair</h2>
            <p class="services-ahj__element-info-txt">persona que se dedica a la imprenta) desconocido usó una galería
                de textos y los mezcló de tal manera que logró hacer un
                libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno
                en documentos
                electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de
                las hojas
                "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de
                autoedición, como por
                ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
            <a href="../../../assets/documents/programas_ahj_international_service.pdf" target="_blank" class="services-ahj__element-info-btn">Más info</a>
        </div>
    </div>
    <div class="services-ahj__element services-ahj__element--reverse">
        <div class="services-ahj__element-content services-ahj__element-content--left-slice">
            <img src="../../../assets/img/restaurant.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa de Pasantia en el exterior</h2>
            <p class="services-ahj__element-info-txt">persona que se dedica a la imprenta) desconocido usó una galería
                de
                textos y los mezcló de tal manera que logró hacer un
                libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno
                en
                documentos
                electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de
                las
                hojas
                "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de
                autoedición,
                como por
                ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
            <a href="../../../assets/documents/programas_ahj_international_service.pdf" target="_blank" class="services-ahj__element-info-btn services-ahj__element-info-btn--reverse">Más info</a>
        </div>
    </div>
    <div class="services-ahj__element">
        <div class="services-ahj__element-content services-ahj__element-content--right-slice">
            <img src="../../../assets/img/voluntariado.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa de Voluntariado</h2>
            <p class="services-ahj__element-info-txt">persona que se dedica a la imprenta) desconocido usó una galería
                de
                textos y los mezcló de tal manera que logró hacer un
                libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno
                en
                documentos
                electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de
                las
                hojas
                "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de
                autoedición,
                como por
                ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
            <a href="../../../assets/documents/programas_ahj_international_service.pdf" target="_blank" class="services-ahj__element-info-btn">Más info</a>
        </div>
    </div>
</section>