<section class="services-ahj animated fadeIn">
    <div class="services-ahj__element">
        <div class="services-ahj__element-content services-ahj__element-content--right-slice">
            <img src="../../../assets/img/ninera.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa Au Pair</h2>
            <p class="services-ahj__element-info-txt">Au pair es una palabra francesa usada para denominar a la
                persona acogida temporalmente por una familia a cambio de un trabajo,
                como cuidar a los niños; suele convivir con la familia receptora como un
                miembro más, y recibe una pequeña remuneración así como comida y
                alojamiento gratuitos; en la mayoría de los casos son estudiantes.</p>
            <a href="../../../assets/documents/PROGRAMA_AU_PAIR_2.pdf" target="_blank" class="services-ahj__element-info-btn">Más info</a>
        </div>
    </div>
    <div class="services-ahj__element services-ahj__element--reverse">
        <div class="services-ahj__element-content services-ahj__element-content--left-slice">
            <img src="../../../assets/img/restaurant.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa de Pasantia en el exterior</h2>
            <p class="services-ahj__element-info-txt">Este programa te permite adquirir experiencia en los mejores hoteles o
                restaurantes del Mediterráneo Español o Francés, donde a través del
                aprendizaje puedes planificar y desarrollar un proyecto de vida estable y
                duradero.</p>
            <a href="../../../assets/documents/PROGRAMA_DE_PRACTICAS_3.pdf" target="_blank" class="services-ahj__element-info-btn services-ahj__element-info-btn--reverse">Más info</a>
        </div>
    </div>
    <div class="services-ahj__element">
        <div class="services-ahj__element-content services-ahj__element-content--right-slice">
            <img src="../../../assets/img/voluntariado.jpg" alt="Viajar por el mundo"
                class="services-ahj__element-content-img">
        </div>
        <div class="services-ahj__element-info">
            <h2 class="services-ahj__element-info-title">Programa de Voluntariado</h2>
            <p class="services-ahj__element-info-txt">Servicio Voluntario de AHj International services, te permite probar tus
                conocimientos, capacidades, aptitudes y actitudes en las diferentes áreas
                requeridas en el extranjero con el fin de suplir las necesidades de personal
                calificado que escasean en el viejo continente, y es a través de este donde
                podemos adquirir las competencias para desarrollar proyectos de vida
                estables y sostenibles.</p>
            <a href="../../../assets/documents/PROGRAMA_DE_VOLUNTARIADO_2.pdf" target="_blank" class="services-ahj__element-info-btn">Más info</a>
        </div>
    </div>
</section>