<div class="slider">
    <ng-container *ngFor="let item of slider; let i = index"> 
        <div class="slider__item slider__item--animated" [class.slider__item--active]="slideSelected === i">
            <img [src]="item.img" [alt]="item.alt" class="slider__img">
            <div class="slider__blue-square"></div>
            <div class="slider__info-left">
                <h2 class="slider__info-left_h2">{{ item.text }}</h2>
                <a class="slider__info-left_button" href="../../../assets/documents/programas_ahj_international_service.pdf" target="_blank">Más info</a>
            </div>
        </div>
    </ng-container>
    <div class="slider__buttons">
        <span 
            class="slider__bullets" 
            *ngFor="let item of slider; let i = index" 
            [class.slider__bullets--active]="slideSelected === i"
            (click)="selectedSlide(i)">
        </span>
    </div>
    <div class="slider__social-networks">
        <a href="https://www.facebook.com/AHJ-International-Service-112313976932310" target="_blank" class="slider__social-networks-links">
            <img src="../../../assets/img/icons/facebook_blue.png" class="slider__social-networks-links-icons" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/ahjinternationalservice/?hl=es-la" target="_blank" class="slider__social-networks-links">
            <img src="../../../assets/img/icons/instagram_blue.png" class="slider__social-networks-links-icons" alt="Instagram">
        </a>
        <a href="https://wa.me/+573208997379?text=¡Hola(a)%20me%20gustaría%20tener%20más%20información!" target="_blank" class="slider__social-networks-links">
            <img src="../../../assets/img/icons/whatsapp_blue.png" class="slider__social-networks-links-icons" alt="Whatsapp">
        </a>
    </div>
</div>