<app-header></app-header>
<section class="home animated fadeIn">
    <div class="content">
        <h1 class="home__title">Conoce las experiencias de nuestros aspirantes</h1>
        <div class="home__experience-content">
            <div class="home__experience-content-individual">
                <iframe class="home__experience-content-individual-media" height="315" src="https://www.youtube.com/embed/FPvGUGN8J7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="home__experience-content-individual-title">Camilo Botero</h3>
                <p class="home__experience-content-individual-txt">Programa Au Pair-Alemania</p>
            </div>
            <div class="home__experience-content-individual">
                <iframe class="home__experience-content-individual-media" height="315" src="https://www.youtube.com/embed/65NRQeIej-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="home__experience-content-individual-title">Raúl Sandoval</h3>
                <p class="home__experience-content-individual-txt">Programa Voluntariado</p>
            </div>
        </div>
    </div>
</section>