<app-header></app-header>
<section class="home animated fadeIn">
    <div class="content">
        <h1 class="home__title">Conoce las experiencias de nuestros aspirantes</h1>
        <div class="home__experience-content">
            <div class="home__experience-content-individual">
                <video class="home__experience-content-individual-media" controls poster="../../../assets/img/camilo_botero.png">
                    <source src="../../../assets/videos/camilo_botero.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
                <h3 class="home__experience-content-individual-title">Camilo Botero</h3>
                <p class="home__experience-content-individual-txt">Programa Au Pair-Alemania</p>
            </div>
            <div class="home__experience-content-individual">
                <video class="home__experience-content-individual-media" controls poster="../../../assets/img/camilo_botero.png">
                    <source src="../../../assets/videos/camilo_botero.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
                <h3 class="home__experience-content-individual-title">Raúl Sandoval</h3>
                <p class="home__experience-content-individual-txt">Programa Voluntariado</p>
            </div>
        </div>
    </div>
</section>