<header class="about-us-header animated fadeIn">
    <img src="../../../assets/img/team.jpg" alt="Nosotros" class="about-us-header__principal-img">
    <div class="about-us-header__info-content">
        <p class="about-us-header__info-content-txt">AHJ international Service es una compañia Colombo-Alemana que te
            brinda asesoría y acompañamiento en programas de Au-pair, voluntariado y Pasantias en el exterior.</p>
    </div>
</header>
<section class="our-team content animated fadeIn">
    <h1 class="our-team__title">Nuestro Equipo</h1>
    <div class="our-team__content">
        <div class="our-team__content-info">
            <img src="../../../assets/img/jefersson.jpg" alt="Jefersson Díaz Buelvas"
                class="our-team__content-info-img">
            <div class="our-team__content-info-txt">
                <h3 class="our-team__content-info-txt--blue">Jefersson Díaz Buelvas</h3>
                <span>Director Ejecutivo</span>
            </div>
        </div>
        <div class="our-team__content-info">
            <img src="../../../assets/img/jefersson.jpg" alt="Andreas Absmayer" class="our-team__content-info-img">
            <div class="our-team__content-info-txt">
                <h3 class="our-team__content-info-txt--blue">Andreas Absmayer</h3>
                <span>Subdirector AHJ</span>
                <span>Profesor Alemán e Inglés</span>
            </div>
        </div>
    </div>
</section>
<section class="our-candidates animated fadeIn">
    <h2 class="our-candidates__title">Nuestros aspirantes pueden viajar a</h2>
    <div class="our-candidates__content">
        <img src="../../../assets/img/bonjour.jpg" alt="Bonjour" class="our-candidates__content-img">
        <div class="our-candidates__content-countries">
            <ul class="our-candidates__content-countries-content">
                <li class="our-candidates__content-countries-content-list">*Francia</li>
                <li class="our-candidates__content-countries-content-list">*Estados Unidos</li>
                <li class="our-candidates__content-countries-content-list">*España</li>
                <li class="our-candidates__content-countries-content-list">*Alemania</li>
                <li class="our-candidates__content-countries-content-list">*Reino Unido</li>
            </ul>
        </div>
    </div>
</section>