<nav class="menu">
    <li class="menu__li">
        <a [routerLink]="['home']" class="menu__links">Inicio</a>
    </li>
    <li class="menu__li">
        <a [routerLink]="['about-us']" class="menu__links">Nosotros</a>
    </li>
    <li class="menu__li">
        <a [routerLink]="['services-ahj']" class="menu__links">Servicios</a>
    </li>
    <li class="menu__li">
        <a [routerLink]="['contact-us']" class="menu__links">Contáctanos</a>
    </li>
</nav>

<div class="logo">
    <a [routerLink]="['home']" class="logo__link">
        <img src="../../../assets/img/logo_ahj.png" alt="Logo AHJ" class="logo__img">
    </a>
</div>