<footer class="footer--bg">
    <div class="footer content">
        <div class="footer__content">
            <ul class="footer__links_ul">
                <li class="footer__links_li">
                    <a href="" class="footer__links-a footer__content_txt--style">Nosotros</a>
                </li>
                <li class="footer__links_li">
                    <a href="" class="footer__links-a footer__content_txt--style">Servicios</a>
                </li>
                <li class="footer__links_li">
                    <a href="" class="footer__links-a footer__content_txt--style">Contáctanos</a>
                </li>
            </ul>
        </div>
        <div class="footer__content">
            <span class="footer__content_txt--style">Dirección: <br />Carrera 47B12 - 07</span>
            <span class="footer__content_txt--style">Barrio La Easperanza</span>
            <span class="footer__content_txt--style">Villavicencio</span>
            <span class="footer__content_txt--style">Colombia</span>
        </div>
        <div class="footer__content">
            <span class="footer__content_txt--style">Correo: <br />
                <a href="mailto:ahjinternationalservice@gmail.com"
                    class="footer__content_txt--style">ahjinternationalservice@gmail.com</a>
            </span>
            <span class="footer__content_txt--style">Celular: <br />
                <a href="tel:3208897379" class="footer__content_txt--style">320 899 7379</a>
            </span>
        </div>
        <div class="footer__content">
            <a href="" class="footer__content_social_network">
                <img src="../../../../assets/img/icons/facebook_icon.png" class="footer__content_social_network-img"
                    alt="Facebook">
            </a>
            <a href="" class="footer__content_social_network">
                <img src="../../../../assets/img/icons/instagram.png" class="footer__content_social_network-img"
                    alt="Instagram">
            </a>
            <a href="" class="footer__content_social_network">
                <img src="../../../../assets/img/icons/whatsapp.png" class="footer__content_social_network-img"
                    alt="Whatsapp">
            </a>
        </div>
    </div>
</footer>