<footer class="footer">
    <div class="footer__links">
        <ul class="footer__links_ul">
            <li class="footer__links_li">
                <a href="" class="footer__links-a footer--txt_style">Nosotros</a>
            </li>
            <li class="footer__links_li">
                <a href="" class="footer__links-a footer--txt_style">Servicios</a>
            </li>
            <li class="footer__links_li">
                <a href="" class="footer__links-a footer--txt_style">Contáctanos</a>
            </li>
        </ul>
    </div>
    <div class="footer__physical_info">
        <span class="footer__physical_info_txt footer--txt_style">Dirección: <br />Carrera 47B12 - 07</span>
        <span class="footer__physical_info_txt footer--txt_style">Barrio La Easperanza</span>
        <span class="footer__physical_info_txt footer--txt_style">Villavicencio</span>
        <span class="footer__physical_info_txt footer--txt_style">Colombia</span>
    </div>
    <div class="footer__virtual_info">

    </div>
    <div class="footer__social_network"></div>
</footer>